.card_back{
    display: block;
    position: relative;
    top: 20rem;
    left: 18rem;

   .card_back-img{
    position: absolute;
   }

    .card_back-number{
        position: absolute;
        z-index: 1;
        color: aliceblue;
        top: 5.7rem;
        left: 22rem;
        letter-spacing: .3rem;
        font-size: 1.2rem;
        
    }
}